{% load activeurl %}
{% activeurl %}
    <ul>
        <li><a href="{% url 'index' %}"><i
                class='fa fa-home'></i><span>Home</span></a>
        </li>
        <li><a href='{% url 'dashboard' %}'><i
                class='fa fa-table'></i><span>Dashboard</span></a>
        </li>
        <li><a href='{% url 'account' %}'><i
                class='fa fa-user'></i><span>Account</span></a>
        </li>
        <li><a href='{% url 'clients' %}'><i
                class='fa fa-child'></i><span>Clients</span></a>
        </li>
         <li><a href='{% url 'contact' %}'><i
                class='fa fa-phone'></i><span>Contact</span></a>
        </li>
         <li><a href='{% url 'about' %}'><i
                class='fa fa-info'></i><span>About</span></a>
        </li>
         <li><a href='{% url 'logout' %}'><i
                class='icon-logout-1'></i><span>Signout</span></a>
        </li>

    </ul>
{% endactiveurl %}