<li><a href="{% url 'index' %}">HOME</a></li>
{% if request.user.is_authenticated %}
    <li><a href="{% url "dashboard" %}" class="login-button hidden-lg hidden-desktop">DASHBOARD</a></li>
    <li><a href="{% url "account-settings" %}" class="login-button hidden-lg hidden-desktop">ACCOUNT</a></li>
{% endif %}
<li><a href="#">FEATURES</a></li>
<li><a href="#">DEMOS</a></li>
<li><a href="#">PRICING</a></li>
<li><a href="#">CLIENTS</a></li>
<li><a href="#">ABOUT</a></li>
<li><a href="#">CONTACT</a></li>
<li><a href="{% url "logout" %}" class="login-button hidden-lg hidden-desktop">Sign Out</a></li>
