{% extends 'web/base.html' %}
{% load staticfiles %}
{% block title %}
    Clients
{% endblock %}
{% block content %}

    <section class="brands-block text-center" id="clients">
        <div class="container">
            <h1 class="text-success">Some of our valued clients...</h1>
            <div id="brands" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="javascript:;" title="Coca Cola">
                        <img class="image-sized" src="{% static "web/images/brands/cocacola.png" %}">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Microsoft">
                        <img class="image-sized" src="{% static "web/images/brands/microsoft.png" %}">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Samsung">
                        <img class="image-sized" src="{% static "web/images/brands/samsung.png" %}">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Google">
                        <img class="image-sized" src="{% static "web/images/brands/google.png" %}">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Sony">
                        <img class="image-sized" src="{% static "web/images/brands/sony.png" %}">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Virgin">
                        <img class="image-sized" src="{% static "web/images/brands/virgin.png" %}">
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:;" title="Instragram">
                        <img class="image-sized" src="{% static "web/images/brands/instagram.png" %}">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe-block text-center" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>SUBSCRIBE</h1>
                    <p>Please subscribe to our newsletter so you can learn the updates for new products before anyone
                        else. Also we will spam your mailbox.</p>
                    <hr class="divider">
                    <form action="" role="form">
                        <input type="text" placeholder="Enter your email address" name="subscribe-input"
                               id="subscribe-input" class="form-control input-lg">
                        <button class="btn btn-primary btn-lg subscribe-btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block header %}
    <section class="main-slider" data-stellar-background-ratio="0.5"
             style="background-image: url({% static "web/images/headers/index.jpg" %})">
        <div class="slider-caption">
            <h2 data-animate="fadeInDown" data-delay="1000" data-duration="2s">OUR AWESOME CLIENTS!</h2>
            <a data-animate="fadeInUp" data-duration="2s" data-delay="1300" href="#packages"
               class="btn btn-primary btn-lg">CHECK OUT OUR PACKAGES</a></div>
    </section>
{% endblock %}