<div class="modal fade" id="login-signup" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

			</div> <!-- /.modal-header -->

			<div class="modal-body">
		<div id="loginbox" class="text-center">
            	        <small class="create-account text-muted">Don't have an account?<button id="ember363" class="ember-view btn btn-sm btn-default" onClick="$('#loginbox').hide(); $('#signupbox').show()"> Sign Up </button> </small>

	    <form class="form-signin" data-ember-action="2">
	    	<h2 class="form-signin-heading">Sign in</h2>

			<small class="text-muted">Connect with your favorite social network</small>
			<br><br>


<p>
<a class="btn btn-primary social-login-btn social-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-twitter"></i></a>
<a class="btn btn-primary social-login-btn social-linkedin" href="{% url 'social:begin' 'linkedin' %}?next={{ request.path }}"><i class="fa fa-linkedin"></i></a>
<a class="btn btn-primary social-login-btn social-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-google-plus"></i></a>
</p>




		    <small class="text-muted">Or sign in with cloudITAM</small>
		    <br><br>

	        <input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="username or email" type="text">
	        <input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="password" type="password">

	        <script id="metamorph-22-start" type="text/x-placeholder"></script><script id="metamorph-22-end" type="text/x-placeholder"></script>

	        <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign in</button>
            <br>
	    </form>
            </div>


         <div id="signupbox" style="display:none" class="text-center">
             	        <small class="create-account text-muted">Do you have an account? <button id="ember363" class="ember-view btn btn-sm btn-default" onClick="$('#signupbox').hide(); $('#loginbox').show()"> Sign in </button> </small>
	    <form class="form-signin" data-ember-action="2">
	    	<h2 class="form-signin-heading">Sign up</h2>


	        <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign up</button>
	        <br>
	    </form>
            </div>


        </div> <!-- /.modal-body -->


		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->