{% extends 'dashboard/base.html' %}
{% block page_title %}Maintenance{% endblock %}
{% block body_class %}fixed-left login-page{% endblock %}
{% block page %}
    <div class="container">
        <div class="full-content-center">
            <div class="maintenance animated flipInX">
                <div class="">
                    <h1><i class="icon-wrench"></i><br>
                        Under Maintenance</h1>
                    <h2>Please give us a moment to sort things out</h2>
                </div>
            </div>

        </div>
    </div>
{% endblock %}