{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block page_title %}Users{% endblock %}
{% block right_content %}
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-users'></i> Users</h1>
    </div>
    <!-- Page Heading End-->                <!-- Your awesome content goes here -->
    <div class="row">

        <div class="col-md-12">
            <div class="widget">
                <div class="widget-content">
                    <div class="table-responsive">
                        <table data-sortable class="table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th style="width: 30px" data-sortable="false"><input type="checkbox" class="rows-check">
                                </th>
                                <th>Full Name</th>
                                <th>Location</th>
                                <th>Date of birth</th>
                                <th>Email</th>
                                <th data-sortable="false">Sort : Off</th>
                                <th>Status</th>
                                <th data-sortable="false">Option</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="checkbox" class="rows-check"></td>
                                <td><strong>John Doe</strong></td>
                                <td>Yogyakarta, Indonesia</td>
                                <td>January 01, 1985</td>
                                <td><a href="mailto:#">name@domain.com</a></td>
                                <td>123</td>
                                <td><span class="label label-success">Active</span></td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a data-toggle="tooltip" title="Off" class="btn btn-default"><i
                                                class="fa fa-power-off"></i></a>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-default"><i
                                                class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}